
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>會員註冊</h2>
<!--註冊視窗-->

    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-theme-l1">
            
            <h3>會員註冊</h3>
        </header>
        <div class="w3-padding">
            
                @using (Html.BeginForm())
            {
            <p>
                <input class="w3-input w3-padding-16" type="text" placeholder="帳號" required name="Account" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
            </p>
            <p>
                <input class="w3-input w3-padding-16" type="text" placeholder="密碼" required name="Password" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
            </p>
            <p>
                <input class="w3-input w3-padding-16" type="text" placeholder="姓名" required name="Name">
            </p>
            <p>
                <input class="w3-input w3-padding-16" type="text" placeholder="電話" required name="Phone" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <input class="w3-input w3-padding-16" type="email" placeholder="信箱" required name="Email">
            </p>
            <p>
                <input class="w3-input w3-padding-16" type="text" placeholder="地址" required name="Address">
            </p>
            <p>
                <input class="w3-input w3-padding-16" type="text" placeholder="職業" name="Career">
            </p>
            <p>
                <input class="w3-input w3-padding-16" type="date" placeholder="生日" required name="Birthday">
            </p>
            <p>
                <button type="submit" name="register">註冊</button>
            </p>
             }
            <!-- End Contact Section -->
        </div>
    </div>
    <footer class="w3-container w3-theme-l1">
        <p>
            祝您購物愉快
            <i class="fa fa-smile-o"></i>
        </p>
    </footer>
