body,
input,
button,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
    font-size: 108%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
