
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.0&appId=616223568711883&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
        console.log("d", d);
        console.log("s", s);
        console.log("s", s);
        console.log("id", id);
        console.log("js", js);
        console.log("js.id", js.id);
    }(document, 'script', 'facebook-jssdk'));



    var requestUri = new Windows.Foundation.Uri(
        "https://www.facebook.com/v3.0/dialog/oauth?"+
        "client_id={616223568711883}"+
        "&redirect_uri=https://delizioso.azurewebsites.net/facebookauth)");

        Windows.Security.Authentication.Web.WebAuthenticationBroker.authenticateAsync(
            options,
            requestUri)
            .done(function (result) {
                // Handle the response from the Login Dialog
                console.log("result", result);
                console.log("requestUri", requestUri);
            }
        );


</script>


<!--登入按鈕-->
<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>





<!--
https://www.facebook.com/v3.0/dialog/oauth?
    app_id=616223568711883
    &auth_type=
    &channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FRQ7NiRXMcYA.js%3Fversion%3D42%23cb%3Df3b2b796db61d74%26domain%3Ddelizioso.azurewebsites.net%26origin%3Dhttps%253A%252F%252Fdelizioso.azurewebsites.net%252Ff2915878d6bac68%26relation%3Dopener
    &client_id=616223568711883
    &display=popup
    &domain=delizioso.azurewebsites.net
    &e2e=%7B%7D
    &locale=zh_TW
    &logger_id=6a47578f-8007-7a65-5e77-22dfc7607d14
    &origin=1
    &redirect_uri=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FRQ7NiRXMcYA.js%3Fversion%3D42%23cb%3Df2e9579e916ac8%26domain%3Ddelizioso.azurewebsites.net%26origin%3Dhttps%253A%252F%252Fdelizioso.azurewebsites.net%252Ff2915878d6bac68%26relation%3Dopener%26frame%3Dfa774a79f95f5c
    &ref=LoginButton
    &response_type=none%2Ctoken%2Csigned_request
    &scope=
    &sdk=joey
    &seen_revocable_perms_nux=false
    &version=v3.0

-->
