@model IEnumerable<ViewModels.OrderDetailViewModel>
@{
    ViewBag.Title = "modeltest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style type="text/css">
        #QandA .Question {
            /*標題的CSS定義*/
            width: 100%;
            border-bottom: 1px #aaa dotted;
        }

        #QandA .Answer {
            /*內文的CSS定義*/
            display: none;
            width: 100%;
            height: 400px;
            padding: 10px 0px;
            background: #efefef;
            border-bottom: 1px #aaa dotted;
        }

        #QandA:hover {
            /*滑鼠移至區塊變色*/
            background: #ebf6f7;
        }
    </style>
</head>

<body>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                購買時間
            </div>
            <div class="col-2">
                訂單編號
            </div>
            <div class="col-2">
                付款方式
            </div>
            <div class="col-2">
                處理進度
            </div>
            <div class="col-2">
                出貨日期
            </div>
            <div class="col-2">
                金額
            </div>
        </div>

        @foreach (var item in Model)
    {
        <div id="QandA">
            <p class="Question">
                <div class="row">
                    <div class="col-2">
                        @item.Time
                    </div>
                    <div class="col-2">
                        @item.OrderId
                    </div>
                    <div class="col-2">
                        @item.Payway
                    </div>
                    <div class="col-2">
                        已出貨
                    </div>
                    <div class="col-2">
                        2018/12/18
                    </div>
                    <div class="col-2">
                        NT$@ViewBag.Total
                    </div>
                </div>

            <p class="Question">查看明細</p>
            <div class="Answer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-left">
                            <div class="row">
                                <div class="col-2">
                                    商品編號
                                </div>
                                <div class="col-5">
                                    商品名稱
                                </div>
                                <div class="col-1">
                                    顏色
                                </div>
                                <div class="col-1">
                                    尺吋
                                </div>
                                <div class="col-1">
                                    數量
                                </div>
                                <div class="col-1">
                                    單價
                                </div>
                                <div class="col-1">
                                    小計
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-2">
                                    1815011
                                </div>
                                <div class="col-5">
                                    雷絲細肩帶內搭小可愛
                                </div>
                                <div class="col-1">
                                    黑
                                </div>
                                <div class="col-1">
                                    M
                                </div>
                                <div class="col-1">
                                    1
                                </div>
                                <div class="col-1">
                                    630
                                </div>
                                <div class="col-1">
                                    630
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-2">
                                    1815011
                                </div>
                                <div class="col-5">
                                    雷絲細肩帶內搭小可愛
                                </div>
                                <div class="col-1">
                                    黑
                                </div>
                                <div class="col-1">
                                    M
                                </div>
                                <div class="col-1">
                                    1
                                </div>
                                <div class="col-1">
                                    630
                                </div>
                                <div class="col-1">
                                    630
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-2">
                                    1815011
                                </div>
                                <div class="col-5">
                                    雷絲細肩帶內搭小可愛
                                </div>
                                <div class="col-1">
                                    黑
                                </div>
                                <div class="col-1">
                                    M
                                </div>
                                <div class="col-1">
                                    1
                                </div>
                                <div class="col-1">
                                    630
                                </div>
                                <div class="col-1">
                                    630
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
        @* --------------------------------- *@


    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $("p.Question").css({
                cursor: "pointer"
            }).click(function () {
                $(this).next().toggle("normal");
            });
        });
    </script>
</body>