
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style type="text/css">
        #QandA .Question {
            /*標題的CSS定義*/
            width: 100%;
            border-bottom: 1px #aaa dotted;
        }

        #QandA .Answer {
            /*內文的CSS定義*/
            display: none;
            width: 100%;
            padding: 10px 0px;
            background: #efefef;
            border-bottom: 1px #aaa dotted;
        }

        #QandA:hover {
            /*滑鼠移至區塊變色*/
            background: #ebf6f7;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h3 class="w3-wide">
            <img src="https://upload.cc/i1/2018/05/17/ZAjghF.jpg" style="height:100px; width:300px;" class="img-fluid" alt="Responsive image">
        </h3>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" onclick="location.href='@Url.Content("~/Home")'">首頁</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">會員中心</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">客戶服務</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                購買時間
            </div>
            <div class="col-2">
                訂單編號
            </div>
            <div class="col-2">
                付款方式
            </div>
            <div class="col-2">
                處理進度
            </div>
            <div class="col-2">
                出貨日期
            </div>
            <div class="col-2">
                金額
            </div>
        </div>

        <div id="QandA">
            <p class="Question">
                <div class="row">
                    <div class="col-2">
                        2018/12/14
                    </div>
                    <div class="col-2">
                        000000000
                    </div>
                    <div class="col-2">
                        超商取貨
                    </div>
                    <div class="col-2">
                        已出貨
                    </div>
                    <div class="col-2">
                        2018/12/18
                    </div>
                    <div class="col-2">
                        NT$28.99
                    </div>
                </div>
            <p class="Question">明細</p>
            <div class="Answer">
                <div class="w3-third">
                    <div class="w3-card w3-container" style="min-height:250px">
                        <br>
                        <div class="container">
                            <div class="row">
                                <img src="https://s9.postimg.cc/fd3rfy0jj/jeans3.jpg" width="150" height="180">
                                <div class="col-7">
                                    <br>
                                    <p>
                                        ProductName- ShopNAme-XL-Red- $19.99
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <img src="https://s9.postimg.cc/fd3rfy0jj/jeans3.jpg" width="150" height="180">
                                <div class="col-7">
                                    <br>
                                    <p>
                                        ProductName- ShopNAme-XL-Red- $19.99
                                    </p>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div id="QandA">
            <p class="Question">
                <div class="row">
                    <div class="col-2">
                        2018/12/14
                    </div>
                    <div class="col-2">
                        000000000
                    </div>
                    <div class="col-2">
                        超商取貨
                    </div>
                    <div class="col-2">
                        已出貨
                    </div>
                    <div class="col-2">
                        2018/12/18
                    </div>
                    <div class="col-2">
                        NT$28.99
                    </div>
                </div>
            <p class="Question">明細</p>
            <div class="Answer">
                <div class="w3-third">
                    <div class="w3-card w3-container" style="min-height:250px">
                        <br>
                        <div class="container">
                            <div class="row">
                                <img src="https://s9.postimg.cc/fd3rfy0jj/jeans3.jpg" width="150" height="180">
                                <div class="col-7">
                                    <br>
                                    <p>
                                        ProductName- ShopNAme-XL-Red- $19.99
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <img src="https://s9.postimg.cc/fd3rfy0jj/jeans3.jpg" width="150" height="180">
                                <div class="col-7">
                                    <br>
                                    <p>
                                        ProductName- ShopNAme-XL-Red- $19.99
                                    </p>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div id="QandA">
            <p class="Question">
                <div class="row">
                    <div class="col-2">
                        2018/12/14
                    </div>
                    <div class="col-2">
                        000000000
                    </div>
                    <div class="col-2">
                        超商取貨
                    </div>
                    <div class="col-2">
                        已出貨
                    </div>
                    <div class="col-2">
                        2018/12/18
                    </div>
                    <div class="col-2">
                        NT$28.99
                    </div>
                </div>
            <p class="Question">明細</p>
            <div class="Answer">
                <div class="w3-third">
                    <div class="w3-card w3-container" style="min-height:250px">
                        <br>
                        <div class="container">
                            <div class="row">
                                <img src="https://s9.postimg.cc/fd3rfy0jj/jeans3.jpg" width="150" height="180">
                                <div class="col-7">
                                    <br>
                                    <p>
                                        ProductName- ShopNAme-XL-Red- $19.99
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <img src="https://s9.postimg.cc/fd3rfy0jj/jeans3.jpg" width="150" height="180">
                                <div class="col-7">
                                    <br>
                                    <p>
                                        ProductName- ShopNAme-XL-Red- $19.99
                                    </p>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            </p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <center>
                    <p>常見問題||條款和條件||運費＆配送資訊||隱私政策</p>
                </center>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <center>
                    <p> © 2018 | - The Hut.com Ltd</p>
                </center>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $("p.Question").css({
                cursor: "pointer"
            }).click(function () {
                $(this).next().toggle("normal");
            });
        });
    </script>
</body>

</html>