
@{
    ViewBag.Title = "MemberCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <br />
    <br />
    <br />
    <div class="container ">
        <div id="page_title">
            <h5 align="center">HELLO, YU Syuan Jhang</h5>
        </div>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">訂購日期</th>
                    <th scope="col">訂單編號</th>
                    <th scope="col">付款方式</th>
                    <th scope="col">處理進度</th>
                    <th scope="col">預計出貨日期</th>
                    <th scope="col">應付金額</th>
                    <th scope="col">訂單取消/提貨辦理</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2018-04-18</th>
                    <td>180418001162</td>
                    <td>7-11超商取貨付款</td>
                    <td>已確認您的訂單..追加中...</td>
                    <td>2018-05-18</td>
                    <td>1,059</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger">我要取消</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2018-03-18</th>
                    <td>180418001118</td>
                    <td>購物金全額折抵</td>
                    <td>
                        已出貨
                        <br />2668756494
                        <br />
                        <button type="button" class="btn btn-outline-success">宅配進度查詢</button>
                    </td>
                    <td>2016-09-30</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2016-09-08</th>
                    <td>160908000330</td>
                    <td>7-11超商取貨付款</td>
                    <td>買家已棄標</td>
                    <td></td>
                    <td>2,597</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div id="page_title">
            <h3 align="center">線上帳戶</h3>
        </div>
        <hr />
        <h4>購物金：0元</h4><br />
        <h4>紅利：5000點</h4><p style="color: gray;">到期日:2018/06/18</p>

        <div id="page_title">
            <h3 align="center">會員等級</h3>
        </div>
        <hr />
        <h4>會員級別：鑽石會員</h4><br />
        <h5>截至目前累積消費金額：10000000</h5><br />
        <h5>升等資格有效期限：2020/12/31</h5>

    </div>
</body>

