@charset "utf-8";
#header,#footer,#main_index {width:100%;margin:0 auto;clear:both;}
#main_index {
    position:relative;
    min-height: 680px;
}
#main {
    width: 1255px;
    min-height: 680px;
    margin: 0 auto;
    clear: both;
}
/*header start*/
#headerBlock {
    width:100%;
    position:fixed;
    z-index:999;
    top:0px;
    background-color:#fff;
    display:block
    /*min-width:1300px;*/
}
#header {
    background-color: #545152;
    width: 100%;
    height: 50px;
}
#tool {
    margin:0px auto;
    height:50px;
    max-width:1255px;
    min-width:500px;
}
#tool table {
    margin-top:5px;
}
#tool td {
    width:90px;
    color:#fff;
    text-align:center;
}
#tool td:nth-child(even) {
    width:30px;
    text-align:center
}
#tool td:nth-child(7) {

    text-align:center
}
#tool td:nth-child(8) {
    width:10px;
    text-align:center
}
#tool td a {
    color:#fff
}
.mini-bag-wrapper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bababa;
    box-shadow: 2px 2px 4px -1px #bababa;
    display: none;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    right: -60px;
    top: 25px;
    width: 242px;
    z-index: 9990;
}

.cartslider a {
    display:block;
    height:112px;
    border:1px solid #d7d6d6;
    width:240px!important;
}

.cartslider-img, .cartslider-info {
     display:inline-block;
     height:112px;
     vertical-align:top; 
}

.cartslider-img {
    min-width:100px;
}

.cartslider-img img {
    margin: 10px auto;
}
.cartslider-info {
    width:135px;
    margin: 10px 0px;
}

.cartslider-info .pdname {
    margin-bottom:5px;
    
}
.cartslider-info p{
    margin:0px;
    color:#545050;
    font-weight:bold;
}
.cartCount {
    width:10px;
    font-weight:bold;
}
#logo{
    margin:0px auto;
    /*height:100px*/
}
#menu-area {
    width:1250px;
    margin:0px auto;
    position:relative;
}
#search {
    float:right;
    border-bottom:1px solid black
}
#search input{
    background: url(../images/zoom.png) 1px no-repeat #FFF;
    color:#545050;
    font-size: 11px;
    outline: none;
    padding: 3px 5px 3px 20px;
    border:none;
}
/*header end*/

/*=======right box start=========*/

.NEW_right_content{ position:relative; top:50px;left:-50px; width:280px; z-index:998;}

/*.NEW_right_btn{ width:103px; height:90px; position:absolute; left:0; top:70px; z-index:9999999;text-indent : -1000px;}
.NEW_right_btn a{ padding-left:15px;display:block; width:75px; height:103px; background-image:url("../images/right-box-event.png"); background-repeat:no-repeat; font-size:11px; font-weight:bold; text-decoration:none; line-height:103px; right:0px; overflow:hidden; text-align:center;}
.NEW_right_btn a.open {background-image:url("../images/right-box-close.png");}*/

.NEW_right_con_box{ width:200px;height:230px;background: rgba(100%,100%,100%,0.7); position:absolute; top:0; z-index:998;overflow:hidden;border:1px solid #545152}
.NEW_right_con_info{ padding:0px;padding-top:0px}
.NEW_right_con_top {margin-left:20px;margin-right:20px;margin-bottom:10px}
.NEW_right_con_title{float:left;font-size:12px; font-weight:bold; color:#000; text-align:left;border-bottom:1px solid #000; margin:10px 20px 10px 0px}
.NEW_right_con_close {float:right;margin:10px 0px 10px 0px;cursor:pointer}
.NEW_right_link{border:1px dashed #000; height:34px;line-height:34px;width:104px;margin-bottom:10px;text-align:center;vertical-align:middle;display:block;float:right;}
.NEW_right_link a {display:block;height:30px;font-size:12px; font-weight:bold; color:#F5E7DE;line-height:30px; background-color:#000000;width:100px; text-align:center;margin:2px;}

#prev {
    float:left;
    margin:80px 5px 0px 5px;
    cursor:pointer
}
#next {
    float:left;
    margin:80px 5px 0px 5px;
    cursor:pointer;
}
.NEW_right_con_list_box{ float:left;margin-bottom:15px; max-height:650px;min-height:160px; overflow:hidden; width:160px}

/*.NEW_right_con_list{ font-size:13px; color:#5f5f5f; text-align:center; line-height:20px; margin-bottom:10px;}
.NEW_right_con_list a{ display:block; margin-bottom:5px;}

.NEW_right_con_list p{}
.NEW_right_con_list p.NEW_pbold{ font-size:15px; color:#2c2c2c; font-weight:bold;margin-top:5px;}*/

/*=======right box end=========*/

/*========menu start==========*/
/*.line_gray1{
    margin: 20px 0px 5px 0px;
    border-top: 1px solid #857f7c;
    text-align: center;
}

.line_gray2{
    margin: 5px 0px 10px 0px;
    border-top: 2px solid #857f7c;
    text-align: center;
}
#menu {
    text-align:center;
}
#menu ul li{
    display: inline;
    margin:0px;
    padding:0px;
}

#menu li span{
    margin:0px 40px;
    padding:0px;
    vertical-align:bottom;

}*/
/*========menu end==========*/

/*footer start*/
#footer {
    background-color: #d6d2d0;
    overflow:hidden;
    min-width:1255px;
}
.footer-content {
    width:1255px;
    height:auto;
    margin:0px auto;
}
.footer-table {
    /*margin-top:5%;*/
    width:450px;
}
.footer-table td {
    padding-right:5px;
    position: relative;
}
.footer-link {
    float:left;
    margin-left:65px;
    margin-bottom:10px;
}
/*.footer-link:nth-child(1){
    margin-right:80px;
}*/
.footer-link .footer_title {
    font-weight:bold;
    font-size:110%;
    color:#545050;
}
.footer-link>div {
    margin-bottom:6px;
}
.footer-copyright {
    width:1255px;
}
.copyrightfont{
    float:left;
    margin-left:50px
}
.copyrighthr {
    float:left;
    width:900px;
    margin-left:10px;
    margin-top:8px;
    border-bottom:1px solid #545152;
}
.contact-area {
    /*box-shadow: 2px 2px 4px -1px #bababa;*/
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 9990;
    top:-20px;
    left:20px;
}

.contact-block {
    position:relative;
}
.email {
    position: absolute;
    bottom:18px;
    font-size:10px;
    left:38px;
    font-weight:bold;
}
/*footer end*/

/*========main start==========*/
#topbanner {
    width:1200px;
    height:600px;
    margin:20px auto 0px auto;
}
#topbanner p{
    margin:0px;
    padding:0px;
}
#topbanner img {
    width:100%;
}
#centerbanner {
    width:1200px;/*example 1200px*/
    height:400px;
    margin:20px auto;
}
#centerHTML {
    width:100%;
    height:auto;
    text-align:center;
}
#bottombanner {
    width:1200px;
    height:400px;
    margin:0px auto 0px;
    text-align: center;
}
/*four banner*/
.four-banner {
    float:left;
    width:250px;
    height:250px;
    margin-top:75px;
    margin-right:40px;
}
.four-banner p {
    margin:0px;
    padding:0px;
}
#centerbanner div:nth-child(1) {
    margin-left:40px
}
/*hot product*/
.hot-nav {
display:inline-block;
}
.hot-nav ul li {
    float:right;
    display: inline;
    margin-right:5px;
    font-size:110%;
    padding:0px;
}
.hot-product {
    float:left;
    width:200px;
    height:280px;
    margin-right:33px;
    margin-top:30px;
}
#bottombanner .alltopsale {
    margin-left:33px
}
.topsale {
    cursor:pointer;
}
.hot-pic {
    float:left;
    width:200px;
    height:256px;
    margin-bottom:4px;
    /*border:1px solid #bababa*/    
}
.hot-price {
    float:left;
    width:100%;
    height:20px;
    margin:0px auto;
    font-weight:bold;
    text-align:center;
    /*border:1px solid #bababa*/
}

.hot-name {
    float:left;
    width:100%;
    height:20px;
    margin:0px auto;
    font-weight:bold;
    text-align:center;
    font-size:120%;
    /*border:1px solid #bababa*/
}

.sale-price {
    float:left;
    width:100%;
    height:20px;
    margin:0px auto;
    font-weight:bold;
    text-align:center;
    /*border:1px solid #bababa*/
}

.sale-name {
    float:left;
    width:100%;
    height:20px;
    margin:0px auto;
    font-weight:bold;
    text-align:center;
    font-size:120%;
    /*border:1px solid #bababa*/
}

/*========main end==========*/

/*=====Product conent Start=====*/
.item-list {
    margin-top:50px;
    margin-right:20px;
    margin-left:20px;
    word-break: break-all;
    width: 20%;
}
.item-list ul {
    padding:0px;
    margin:0px;
    margin-bottom:35px;
}

.item-list ul li {
    margin:10px 0px;
}

.item-list .title {
    font-weight:bold;
    margin-top:30px;
}

.item-list .title-first{
    font-weight:bold;
    margin-top:10px;
}

.pdmenu {
    margin-bottom:50px;
}

.sizeList { border:2px solid #ccc; height: 170px; overflow-y: scroll; padding-top:2px; margin-bottom:10px; width:130px;}
label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

.item-content {
    width:960px;
}

.item-main {
    width:920px;
}

.sub-main {
    margin:0 auto;
    width:75%;
    padding-top:10px
}

.line_black{
    width:100%;
    margin:0 auto;
    border-top:1px solid #000000;
}
/*=====Product conent End=====*/

/*=====Recently Start=====*/
.recently {
    width:100%;
    margin:20px auto;
}
.recently .slider img {
    width:120px;
    height:154px;
}
.clearall {
    line-height:15px;
    vertical-align:middle;
}
/*=====Recently End=====*/
/*=====News Start=======*/
fieldset {
    border: 1px dashed;
	border-color:#686161 #ffffff #ffffff #ffffff;
} 

legend{
	text-align:center;
}

#page_title div{
    text-align:center;
}
/*=====News End=======*/

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}