
@{
    ViewBag.Title = "CompleteTheOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="order-step-area">
                    <div class="order-step-on">
                        <img src="~/Content/Delizioso_files/Images/cartstep1.gif">確認購買明細
                        <br>CHECK YOUR ORDER
                    </div>

                    <div class="order-step-on">
                        <img src="~/Content/Delizioso_files/Images/cartstep2.gif">配送與付款方式
                        <br>SHIPPING &amp; PAYMENT
                    </div>

                    <div class="order-step-on">
                        <img src="~/Content/Delizioso_files/Images/cartstep3.gif">填寫收件資料
                        <br>DELIVERY INFORMATION
                    </div>

                    <div class="order-step-on">
                        <img src="~/Content/Delizioso_files/Images/cartstep4.gif">完成訂購
                        <br>THANK YOU!
                    </div>
                </div>

                <div class="card">
                    <div class="card-body" align="center" style="background-color:#DDDDDD">
                        <img id="logoimg_b" src="~/Content/Delizioso_files/Images/Thank.png" style="display: inline;" height="100px" width="300px" />
                        <br />
                        <h4>
                            感謝您的訂購，您的訂單編號為：B4546353415
                            <br /> 您可至訂單查詢，查詢訂單進度，謝謝！
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <form  method="get">
            <div align="center" class="order-action">
                 <input type="submit" value="回首頁" class="btn3"  onclick="http://localhost:57010/home">
            </div>
        </form>
    </div>
</body>

