
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>會員登入</title>
    <style>
        .container {
            margin-top: 2em;
        }

        .card {
            margin-left: 220px;
            margin-right: 250px;
        }

        .content {
            padding: 30px;
        }

        #input {
            width: 450px;
            height: 35px;
        }

        .button {
            width: 100px;
            height: 30px;
            margin-left: 225px;
        }

        #FacebookLogin {
            background-color: rgb(86, 86, 245);
            height: 55px;
            width: 250px;
            margin-left: 150px;
            color: white;
            font-size: 25px;
            font-weight: bolder;
        }

        #GoogleLogin {
            background-color: rgb(255, 16, 16);
            height: 55px;
            width: 250px;
            margin-left: 150px;
            color: white;
            font-size: 25px;
            font-weight: bolder;
        }
    </style>
</head>
<body style="font-family:微軟正黑體;">

    @if (ViewBag.IsAuthenticated == true)
    {
        <h2>Hi , @ViewBag.Username</h2>
        <p><a href="@Url.Action("Logout", "Login")" class="btn">登出</a></p>
    }
    else
    {
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md">
                            <h3>會員登入</h3>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <h4>帳號:</h4>
                        </div>
                        <div class="col-md">
                            <input id="input" class="shopee-button-outline shopee-button-outline-mid" type="text">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <h4>密碼:</h4>
                        </div>
                        <div class="col-md">
                            <input id="input" class="shopee-button-outline shopee-button-outline-mid" type="text">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md">
                            <input class="button" type="submit" value="登入" />
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md">
                            <button id="FacebookLogin" type="button" class="btn"><a href="#">Facebook登入</a></button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md">
                            <button id="GoogleLogin" type="button" class="btn"><a href="#">Google登入</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
