
@{
    Layout = "~/Views/Shared/_Layout.cshtml" ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>會員登入</title>
</head>
<body>
    <div>
        @if (ViewBag.IsAuthenticated == true)
        {
            <h2>Hi , @ViewBag.Username</h2>
            <p><a href="@Url.Action("Logout","Login")" class="btn" >登出</a></p>
        }
        else
        {
            <h2>會員登入</h2>
            using (Html.BeginForm())
            {
                <p>
                    使用者名稱: <input type="text" class="form-control" maxlength="25" name="Username" />
                </p>
                <p>
                    密碼:<input type="password" maxlength="25" class="form-control" name="Password" />
                </p>
                <p>
                    <button type="submit"> 登入</button>
                </p>
            }
        }
    </div>
</body>
</html>
