
@{
    Layout = null;
}


@functions{
    private bool IsExist()
    {
        var cookie = Request.Cookies[FormsAuthentication.FormsCookieName];
        if (cookie == null)
        {
            return false;
        }
        var ticket = FormsAuthentication.Decrypt(cookie.Value);

        if (ticket.UserData == "abcdefg")
        {
            ViewBag.Username = ticket.Name;
            return true;
        }
        else
        {
            return false;
        }
    }
}


@if (IsExist())
{
    <td>
        <button type="button" class="btn" style="background-color: transparent;color: white;">
            <span onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="嗨, @ViewBag.Username" data-out="Hi, @ViewBag.Username">Hi, @ViewBag.Username</span>
        </button>
    </td>
    <td style="width:0px">/</td>
    <td>
        <button type="button" class="btn" style="background-color: transparent;color: white;">
            <i class="fas fa-user-lock"></i><a style="text-decoration:none" onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="會員登出" data-out="LOGOUT" href="@Url.Action("logout","login")"> LOGOUT</a>
        </button>
    </td>
}
else
{
    <td>
        <button type="button" class="btn" data-toggle="modal" data-target="#loginModel" style="background-color: transparent;color: white;">
            <i class="fas fa-user-check"></i><span onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="會員登入" data-out="LOGIN">LOGIN</span>
        </button>
    </td>
    <td style="width:0px">/</td>
    <td>
        <button type="button" class="btn" data-toggle="modal" data-target="#joinusModel" style="background-color: transparent;color: white;">
            <i class="fas fa-user-plus"></i><span onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="會員註冊" data-out="JOINUS">JOINUS</span>
        </button>
    </td>
}
