
@{
    Layout = null;
}


@functions{
    private bool IsExist()
    {
        var cookie = Request.Cookies[FormsAuthentication.FormsCookieName];
        if (cookie == null)
        {
            return false;
        }
        var ticket = FormsAuthentication.Decrypt(cookie.Value);

        if (ticket.UserData == "abcdefg")
        {
            ViewBag.Username = ticket.Name.Split(',')[0];
            return true;
        }
        else
        {
            return false;
        }
    }
}


@if (IsExist())
{
    <td>
        <button type="button" class="btn" style="background-color: transparent;color: white;">
            <span onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="嗨, @ViewBag.Username" data-out="Hi, @ViewBag.Username">Hi, @ViewBag.Username</span>
        </button>
    </td>
    <td style="width:0px">/</td>
    <td>
        <button type="button" class="btn" style="background-color: transparent;color: white;">
            <i class="fas fa-user-lock"></i><a style="text-decoration:none" onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="會員登出" data-out="LOGOUT" href="@Url.Action("logout","login")"> LOGOUT</a>
        </button>
    </td>
    <td style="width:0px">/</td>
    <td>
        <button type="button" class="btn" style="background-color: transparent; color: white;" onclick="location.href='http://localhost:57010/MemberCenter'">
            <i class="fas fa-user-cog"></i><span onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="會員中心" data-out="MEMBERS">MEMBERS</span>
        </button>
    </td>
    <td style="width:0px">/</td>
    <td>

        <button type="button" class="btn" data-toggle="modal" data-target="#" style="background-color: transparent;color: white;" onclick="location.href='http://localhost:57010/orders/checkorder'">
            <i class="fas fa-cart-plus"></i><span onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="購物車" data-out="BAG" style="background:url(images/bag.png) no-repeat 90% 100%;width:60px;display:inline-block;line-height:17px;">BAG</span>
        </button>
        <div class="mini-bag-wrapper" style="display: none;">
            <div id="cartfloat-prev"><a class="bx-prev disabled" href="">Prev</a></div><div class="bx-wrapper" style="max-width: 242px; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 114px;"><div class="cartslider" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, -114px, 0px);"><a href="PDContent.asp?pp1=08&amp;pp2=04&amp;pp3=05&amp;yano=1828101&amp;yacolor=04" style="float: none; list-style: none; position: relative; width: 240px;" class="bx-clone"><div class="cartslider-img"><img width="70px" height="90px" src="http://photo.airspace.com.tw/photo/1828101/1828101-04-01.jpg" onerror="src='images/noimage.png'" /></div><div class="cartslider-info"><p class="pdname">一字領排釦綁帶條紋長洋裝</p><p>藍</p><p>890</p><p>QTY&nbsp;1</p></div></a><a href="PDContent.asp?pp1=08&amp;pp2=04&amp;pp3=05&amp;yano=1828101&amp;yacolor=04" style="float: none; list-style: none; position: relative; width: 240px;"><div class="cartslider-img"><img width="70px" height="90px" src="http://photo.airspace.com.tw/photo/1828101/1828101-04-01.jpg" onerror="src='images/noimage.png'" /></div><div class="cartslider-info"><p class="pdname">一字領排釦綁帶條紋長洋裝</p><p>藍</p><p>890</p><p>QTY&nbsp;1</p></div></a><a href="PDContent.asp?pp1=08&amp;pp2=04&amp;pp3=05&amp;yano=1828101&amp;yacolor=04" style="float: none; list-style: none; position: relative; width: 240px;" class="bx-clone"><div class="cartslider-img"><img width="70px" height="90px" src="http://photo.airspace.com.tw/photo/1828101/1828101-04-01.jpg" onerror="src='images/noimage.png'" /></div><div class="cartslider-info"><p class="pdname">一字領排釦綁帶條紋長洋裝</p><p>藍</p><p>890</p><p>QTY&nbsp;1</p></div></a></div></div><div class="bx-controls"></div></div><div id="cartfloat-next"><a class="bx-next disabled" href="">Next</a></div><div style="margin:5px;padding:5px;font-weight:bold;color:#545050">Total NT$&nbsp;890</div><div><a href="MyCar.asp"><img src="images/checkout.png" /></a></div>
            <script type="text/javascript">
                $(function () {
                    $('.cartCount').html('1');
                    //$('.cartslider').html('<div id='cartfloat-prev'></div><div class='cartslider'><a href=PDContent.asp?pp1=08&pp2=04&pp3=05&yano=1828101&yacolor=04><div class="cartslider-img"><img width="70px" height="90px" src="http://photo.airspace.com.tw/photo/1828101/1828101-04-01.jpg" onerror="src='images/noimage.png'" /></div><div class="cartslider-info"><p class="pdname">一字領排釦綁帶條紋長洋裝</p><p>藍</p><p>890</p><p>QTY&nbsp;1</p></div></a></div><div id='cartfloat-next'></div><div style ='margin:5px;padding:5px;font-weight:bold;color:#545050'>Total NT$&nbsp;890</div><div><a href = 'MyCar.asp'><img src='images/checkout.png' /></a></div>');

                    //浮動購物車商品slider
                    cartSlider = $('.cartslider').bxSlider({
                        slideWidth: 242,
                        minSlides: 1,
                        maxSlides: 1,
                        pager: false,
                        nextSelector: '#cartfloat-next',
                        prevSelector: '#cartfloat-prev',
                        mode: 'vertical',
                        controls: true,
                        adaptiveHeight: false,
                        onSliderLoad: function ($slideElement, oldIndex, newIndex) {
                            //浮動購物車控制
                            $(".mycart-link").mouseenter(function () {
                                $(this).data("hover", true);
                                if ($('.cartCount').html() != '0') {
                                    $(".mini-bag-wrapper").slideDown('normal');
                                    cartSlider.reloadSlider();
                                }
                            })
                                .mouseleave(function () {
                                    $(this).data("hover", false);
                                    setTimeout(function () {
                                        var cartHovered = $(".mini-bag-wrapper").data("hover");
                                        if (!cartHovered) {

                                            $(".mini-bag-wrapper").slideUp('normal')
                                        }
                                    }, 50);
                                });

                            $(".mini-bag-wrapper").mouseenter(function () {
                                $(this).data("hover", true);
                            })
                                .mouseleave(function () {
                                    $(this).data("hover", false);
                                    setTimeout(function () {
                                        var linkHovered = $(".mycart-link").data("hover");
                                        if (!linkHovered) {

                                            $(".mini-bag-wrapper").slideUp('normal')
                                        }
                                    }, 50);
                                });
                        }
                    });


                });

            </script>
        </div>
        <div class="float-script"></div>
    </td>
    <td>
        [&nbsp;<span style="" class="cartCount">1</span>&nbsp;]
    </td>
}
else
{
    <td>
        <button type="button" class="btn" data-toggle="modal" data-target="#loginModel" style="background-color: transparent;color: white;">
            <i class="fas fa-user-check"></i><span onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="會員登入" data-out="LOGIN">LOGIN</span>
        </button>
    </td>
    <td style="width:0px">/</td>
    <td>
        <button type="button" class="btn" data-toggle="modal" data-target="#joinusModel" style="background-color: transparent;color: white;">
            <i class="fas fa-user-plus"></i><span onmouseover="mouseover(this)" onmouseout="mouseout(this)" data-over="會員註冊" data-out="JOINUS">JOINUS</span>
        </button>
    </td>
}
