
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BackEnd_Layout.cshtml";
}

@using (Html.BeginForm("", "BackEnd", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" class="form-control" name="file" />
    <button type="submit" class="btn btn-primary">Upload!</button>
}

