
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>熱銷商品</h3>
            <br>
            <img src="https://s9.postimg.cc/nz2fn1033/if_moderator_309040.png" class="img-fluid" alt="" width="150" height="150">
            <a href="" style="text-decoration:none;">
                <p>Built-in responsiveness</p>
            </a>
            <a href="" style="text-decoration:none;">
                <p>Mobile first fluid grid</p>
            </a>
            <a href="" style="text-decoration:none;">
                <p>Fits any screen sizes</p>
            </a>
            <a href="" style="text-decoration:none;">
                <p>PC Tablet and Mobile</p>
            </a>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>新貨報到</h3>
            <br>
            <img src="https://s9.postimg.cc/rg4hps1nj/if_cart_622414.png" class="img-fluid" alt="">
            <br>
            <br>
            <a href="" style="text-decoration:none;">
                <p>Standard CSS only</p>
            </a>
            <a href="" style="text-decoration:none;">
                <p>Easy to learn</p>
            </a>
            <a href="" style="text-decoration:none;">
                <p>No need for jQuery</p>
            </a>
            <a href="" style="text-decoration:none;">
                <p>No JavaScript library</p>
            </a>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>優質賣家</h3>
            <br>
            <img src="https://s9.postimg.cc/6vznrgtnz/if_shop_622399.png" class="img-fluid" alt="">
            <br>
            <br>
            <a href="" style="text-decoration:none;">
                <p>Paper like design</p>
            </a>
            <a href="" style="text-decoration:none;">
                <p>Bold colors and shadows</p>
            </a>
            <a href="" style="text-decoration:none;">
                <p>Equal across platforms</p>
            </a>
            <a href="" style="text-decoration:none;">
                <p>Equal across devices</p>
            </a>
        </div>
    </div>
</div>


<hr>
<div class="w3-col l3 s6">
    <div class="w3-container">
        <div class="w3-display-container">
            <img src="https://s9.postimg.cc/fd3rfy0jj/jeans3.jpg" style="width:100%">
            <span class="w3-tag w3-display-topleft">Hot</span>
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black" onclick="document.getElementById('加入購物車').style.display='block'" style="font-weight:900;">
                    加入購物車
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <p>
            Mega Ripped Jeans-1
            <br>
            <b>$19.99</b>
        </p>
    </div>
    <!--加入購物車-->
    <div id="加入購物車" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-theme-l1">
                <span onclick="document.getElementById('加入購物車').style.display='none'" class="w3-button w3-display-topright">×</span>
                <h3>加入購物車</h3>
            </header>
            <div class="w3-padding">
                <div class="w3-card w3-container" style="min-height:150px">
                    <br>
                    <div class="container">
                        <div class="row">
                            <img src="https://s9.postimg.cc/fd3rfy0jj/jeans3.jpg" width="150" height="180">
                            <div class="col-7">
                                <h3>Mega Ripped Jeans </h3>
                                <button class="shopee-button-outline">
                                    -
                                </button>
                                <input class="shopee-button-outline shopee-button-outline-mid" type="text" value="1" style="width: 130px">
                                <button class="shopee-button-outline-mid">
                                    +
                                </button>
                                </br>
                                </br>
                                <label for="Size">Size:</label>
                                <select id="Size" name="Size">
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                                <label for="Color">Color:</label>
                                <select id="Color" name="Color">
                                    <option value="Red">Red</option>
                                    <option value="Bule">Bule</option>
                                    <option value="Black">Black</option>
                                    <option value="Yellow">Yellow</option>
                                </select>
                                </br>
                                <h4><b>$19.99</b></h4>
                            </div>
                        </div>
                        </br>
                        <center>
                            <button class="w3-button w3-black" style="widows:150px">
                                購買
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <span onclick="document.getElementById('加入購物車').style.display='none'" class="w3-button w3-black">繼續購物<i class="fa fa-shopping-cart"></i></span>
                        </center>
                    </div>
                    <BR>
                </div>
            </div>
            <footer class="w3-container w3-theme-l1">
                <p>
                    祝您購物愉快
                    <i class="fa fa-smile-o"></i>
                </p>
            </footer>
        </div>
    </div>


    <div class="w3-container">
        <div class="w3-display-container">
            <img src="https://s9.postimg.cc/gs5c4ioq7/jeans2.jpg" style="width:100%">
            <span class="w3-tag w3-display-topleft">Sale</span>
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black" onclick="document.getElementById('加入購物車').style.display='block'" style="font-weight:900;">
                    加入購物車
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <p>
            Vintage Skinny Jeans
            <br>
            <b class="w3-text-red">$17.99</b>
        </p>
    </div>
</div>

<div class="w3-col l3 s6">
    <div class="w3-container">
        <div class="w3-display-container">
            <img src="https://s9.postimg.cc/c697w2nqn/jeans1.jpg" style="width:100%">
            <span class="w3-tag w3-display-topleft">Hot</span>
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black" onclick="document.getElementById('加入購物車').style.display='block'" style="font-weight:900;">
                    加入購物車
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <p>
            Mega Ripped Jeans
            <br>
            <b>$19.99</b>
        </p>
    </div>

    <div class="w3-container">
        <div class="w3-display-container">
            <img src="https://s9.postimg.cc/w0v9ikdcf/jeans3.jpg" style="width:100%">
            <span class="w3-tag w3-display-topleft">Sale</span>
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black" onclick="document.getElementById('加入購物車').style.display='block'" style="font-weight:900;">
                    加入購物車
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <p>
            Vintage Skinny Jeans
            <br>
            <b class="w3-text-red">$9.99</b>
        </p>
    </div>
</div>

<div class="w3-col l3 s6">
    <div class="w3-container">
        <div class="w3-display-container">
            <img src="https://s9.postimg.cc/fd3rfy0jj/jeans2.jpg" style="width:100%">
            <span class="w3-tag w3-display-topleft">New</span>
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black" onclick="document.getElementById('加入購物車').style.display='block'" style="font-weight:900;">
                    加入購物車
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <p>
            Washed Skinny Jeans
            <br>
            <b>$20.50</b>
        </p>
    </div>

    <div class="w3-container">
        <div class="w3-display-container">
            <img src="https://s9.postimg.cc/c697w2nqn/jeans1.jpg" style="width:100%">
            <span class="w3-tag w3-display-topleft">Sale</span>
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black" onclick="document.getElementById('加入購物車').style.display='block'" style="font-weight:900;">
                    加入購物車
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <p>
            Vintage Skinny Jeans
            <br>
            <b class="w3-text-red">$15.99</b>
        </p>
    </div>
</div>

<div class="w3-col l3 s6">
    <div class="w3-container">
        <div class="w3-display-container">
            <img src="https://s9.postimg.cc/gs5c4ioq7/jeans2.jpg" style="width:100%">
            <span class="w3-tag w3-display-topleft">New</span>
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black" onclick="document.getElementById('加入購物車').style.display='block'" style="font-weight:900;">
                    加入購物車
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <p>
            Mega Ripped Jeans
            <br>
            <b>$19.99</b>
        </p>
    </div>

    <div class="w3-container">
        <div class="w3-display-container">
            <img src="https://s9.postimg.cc/w0v9ikdcf/jeans3.jpg" style="width:100%">
            <span class="w3-tag w3-display-topleft">Sale</span>
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black" onclick="document.getElementById('加入購物車').style.display='block'" style="font-weight:900;">
                    加入購物車
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <p>
            Vintage Skinny Jeans
            <br>
            <b class="w3-text-red">$14.99</b>
        </p>
    </div>
</div>
<hr>


<div class="w3-container w3-center">
    <hr>

    <h3>限時特惠</h3>

    <br>

    <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <img src="https://s9.postimg.cc/gs5c4ioq7/jeans2.jpg" width="150 " height="150">
                <span class="w3-tag w3-display-topleft">下殺1折</span>
                <div class="w3-display-middle w3-display-hover">
                </div>
            </div>
            <p>
                Mega Ripped Jeans
                <br>
                <b>$19.99</b>
            </p>
        </div>
    </div>
    <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <img src="https://s9.postimg.cc/w0v9ikdcf/jeans3.jpg" width="150 " height="150">
                <span class="w3-tag w3-display-topleft">下殺4折</span>
                <div class="w3-display-middle w3-display-hover">
                </div>
            </div>
            <p>
                Vintage Skinny Jeans
                <br>
                <b class="w3-text-red">$14.99</b>
            </p>
        </div>
    </div>
    <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <img src="https://s9.postimg.cc/gs5c4ioq7/jeans2.jpg" width="150 " height="150">
                <span class="w3-tag w3-display-topleft">下殺1折</span>
                <div class="w3-display-middle w3-display-hover">
                </div>
            </div>
            <p>
                Mega Ripped Jeans
                <br>
                <b>$19.99</b>
            </p>
        </div>
    </div>
    <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <img src="https://s9.postimg.cc/w0v9ikdcf/jeans3.jpg" width="150 " height="150">
                <span class="w3-tag w3-display-topleft">下殺4折</span>
                <div class="w3-display-middle w3-display-hover">
                </div>
            </div>
            <p>
                Vintage Skinny Jeans
                <br>
                <b class="w3-text-red">$14.99</b>
            </p>
        </div>
    </div>
</div>
<div class="w3-container w3-center">
    <img class="mt-3" src="https://upload.cc/i1/2018/03/28/HlQO8G.png" width="1180px" height="250px" alt="">
</div>

<hr>
<h2 class="w3-center">經營現況</h2>
<div class="w3-border">
    <div class="w3-bar w3-theme">
        <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'台灣')">台灣</button>
        <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'新加坡')">新加坡</button>
        <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'馬來西亞')">馬來西亞</button>
    </div>

    <div id="台灣" class="w3-container city w3-animate-opacity">
        <h2>台灣</h2>
        <p>Taiwan is the capital city of England.</p>
        <p>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
    </div>

    <div id="新加坡" class="w3-container city w3-animate-opacity">
        <h2>新加坡</h2>
        <p>Paris is the capital of France.</p>
        <p>The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.</p>
    </div>

    <div id="馬來西亞" class="w3-container city w3-animate-opacity">
        <h2>馬來西亞</h2>
        <p>Tokyo is the capital of Japan.</p>
        <p>It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.</p>
    </div>
</div>




