@model IEnumerable<BuildSchool.MVCSolution.OnlineStore.Models.Products>
@{

    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--輪播區-->
<a class="cbAnnouncement" href="http://www.airspace.com.tw/images/BONUS.jpg"></a>
<div id="main_index" style="margin-top: 153px;">
    <script type="text/javascript">
        $(function () {
            $('#topbanner').cycle({
                slides: "p",
                /*指定輪播對象*/
                fx: "scrollHorz",
                /*指定輪播變換效果*/
                swipe: true,
                /*是否在觸控設備上支持手指滑動*/
                timeout: 3000,
                pager: ".cycle-pager",
                rev: true
            });
        });
    </script>
    <div style="width:1200px;margin:0px auto;">

        <script src="./Delizioso_files/jquery.colorbox.js.下載"></script>
        <script type="text/javascript">
            $(function () {
                $(function () {
                    $('.NEW_right_con_list_box').cycle({
                        slides: "div",
                        /*指定輪播對象*/
                        fx: "scrollHorz",
                        /*指定輪播變換效果*/
                        swipe: true,
                        /*是否在觸控設備上支持手指滑動*/
                        timeout: 5000,
                        rev: true,
                        prev: "#prev",
                        next: "#next",
                    });
                });
                $(".NEW_right_con_close").click(function () {
                    $(".NEW_right_con_box").hide("slide", {
                        direction: "left"
                    }, 1000);
                });
            });
        </script>
        <div class="NEW_right_content">
            <div class="NEW_right_con_box">
                <div class="NEW_right_con_top">
                    <div class="NEW_right_con_title">重要消息</div>
                    <div class="clear"></div>
                </div>
                <div id="prev">&lt;</div>
                <div class="NEW_right_con_list_box" id="content_1" style="position: relative;">
                    <div class="NEW_right_con_list cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: visible;">
                        <a>
                            <img src="./Delizioso_files/Images/e171030-250.jpg" width="160" height="160">
                        </a>
                    </div>
                </div>
                <div id="next">&gt;</div>
            </div>

        </div>

        <p align="center">
            <a>
                <img src="./Delizioso_files/Images/order.jpg">
            </a>
        </p>

        <div id="topbanner" style="position: relative; overflow: hidden;">
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 95; opacity: 1; display: block; visibility: hidden;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-1.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 95; opacity: 1; display: block; visibility: hidden;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-2.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 94; visibility: hidden; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-3.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 95; visibility: hidden; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-4.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; visibility: visible; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-5.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; visibility: hidden; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-6.gif" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-7.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-8.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-9.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-10.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-11.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
            <p class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden; opacity: 1; display: block;">
                <a href="">
                    <img src="./Delizioso_files/Images/Carousel-12.jpg" style="width: 1200px; height: 600px;">
                </a>
            </p>
        </div>
        <div class="cycle-pager">
            <span class="">•</span>
            <span class="">•</span>
            <span class="">•</span>
            <span class="cycle-pager-active">•</span>
            <span class="">•</span>
            <span class="">•</span>
        </div>
    </div>

    <div id="centerHTML">
        <div align="center" style="background-color:#bbded6">
            <table border="0" width="100%">
                <tbody>
                    <tr>
                        <td width="42%">
                            <hr align="left" color="#000" size="1">
                        </td>
                        <td width="17%">
                            <h1 align="center">
                                <font face="Arial, Helvetica, sans-serif">
                                    <font size="5">熱銷商品</font>
                                </font>
                            </h1>
                        </td>
                        <td width="41%">
                            <hr align="right" color="#000" size="1">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div align="center">
            <p>
                &nbsp;
            </p>
            <div id="bottombanner" onload="TopSale()">
                <div class="alltopsale">
                    <div class="hot-product">
                        <div class="hot-pic">
                            <a href="" target="_blank">
                                <img src="./Delizioso_files/Images/Hot-1.jpg" width="200px" height="256px">
                            </a>
                        </div>
                        <div class="hot-name">
                            <span class="sname">平織羽絨背心</span>
                        </div>
                        <div class="hot-price">
                            <span class="sprice">NT$13.005</span>
                        </div>
                    </div>
                    <div class="hot-product">
                        <div class="hot-pic">
                            <a href="" target="_blank">
                                <img src="./Delizioso_files/Images/Hot-2.jpg" width="200px" height="256px">
                            </a>
                        </div>
                        <div class="hot-name">
                            <span class="sname">WOVEN 鋪棉外套</span>
                        </div>
                        <div class="hot-price">
                            <span class="sprice">NT$32,385</span>
                        </div>
                    </div>
                    <div class="hot-product">
                        <div class="hot-pic">
                            <a href="" target="_blank">
                                <img src="./Delizioso_files/Images/Hot-3.jpg" width="200px" height="256px">
                            </a>
                        </div>
                        <div class="hot-name">
                            <span class="sname">DENIM SHORTS</span>
                        </div>
                        <div class="hot-price">
                            <span class="sprice">NT$6,061</span>
                        </div>
                    </div>
                    <div class="hot-product">
                        <div class="hot-pic">
                            <a href="" target="_blank">
                                <img src="./Delizioso_files/Images/Hot-4.jpg" width="200px" height="256px">
                            </a>
                        </div>
                        <div class="hot-name">
                            <span class="sname">針織條紋套頭上衣</span>
                        </div>
                        <div class="hot-price">
                            <span class="sprice">NT$9,681</span>
                        </div>
                    </div>
                    <div class="hot-product">
                        <div class="hot-pic">
                            <a href="" target="_blank">
                                <img src="./Delizioso_files/Images/Hot-5.jpg" width="200px" height="256px">
                            </a>
                        </div>
                        <div class="hot-name">
                            <span class="sname">長袖襯衫外套</span>
                        </div>
                        <div class="hot-price">
                            <span class="sprice">NT$5,111</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="center" style="background-color:#bbded6">
            <table border="0" width="100%">
                <tbody>
                    <tr>
                        <td width="42%">
                            <hr align="left" color="#000" size="1">
                        </td>
                        <td width="17%">
                            <h1 align="center">
                                <font face="Arial, Helvetica, sans-serif">
                                    <font size="5">限時特惠</font>
                                </font>
                            </h1>
                        </td>
                        <td width="41%">
                            <hr align="right" color="#000" size="1">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script language="javascript">
        $(function () {
            $(".topsale").each(function () {
                TopSale('');
            });
            $(".topsale").click(function () {
                var arrData = $(this).data('val')
                TopSale(arrData);
            });
        })

        function TopSale(arrData) {
            $.ajax({
                type: 'post',
                url: "inc/ajaxBannertopsale.asp?PP100=" + arrData,
                data: arrData,
                dataType: "text",
                async: false,
                success: function (data) {
                    $('.alltopsale').html(data);
                },
                // error: function (xhr, ajaxOptions, thrownError) { alert("getImgCount error:" + xhr.responseText); }
            })
        }
    </script>
    <div id="bottombanner" onload="TopSale()">
        <div class="alltopsale">
            <div class="hot-product">
                <div class="hot-pic">
                    <a href="" target="_blank">
                        <img src="./Delizioso_files/Images/sale-1.jpg" width="200px" height="256px">
                    </a>
                </div>
                <div class="sale-name">
                    <span class="sname">Kenneth Cole Reaction</span>
                </div>
                <div class="sale-price">
                    <span class="sprice">NT$3,530</span>
                </div>
            </div>
            <div class="hot-product">
                <div class="hot-pic">
                    <a href="" target="_blank">
                        <img src="./Delizioso_files/Images/sale-5.jpeg" width="200px" height="256px">
                    </a>
                </div>
                <div class="sale-name">
                    <span class="sname">紅黑條紋領帶</span>
                </div>
                <div class="sale-price">
                    <span class="sprice">NT$1,560</span>
                </div>
            </div>
            <div class="hot-product">
                <div class="hot-pic">
                    <a href="" target="_blank">
                        <img src="./Delizioso_files/Images/sale-3.jpg" width="200px" height="256px">
                    </a>
                </div>
                <div class="sale-name">
                    <span class="sname">飛行員太陽眼鏡</span>
                </div>
                <div class="sale-price">
                    <span class="sprice">NT$ 4,501</span>
                </div>
            </div>
            <div class="hot-product">
                <div class="hot-pic">
                    <a href="" target="_blank">
                        <img src="./Delizioso_files/Images/s-2.jpg" width="200px" height="256px">
                    </a>
                </div>
                <div class="sale-name">
                    <span class="sname">Salvatore Ferragamo</span>
                </div>
                <div class="sale-price">
                    <span class="sprice">NT$2,580</span>
                </div>
            </div>
            <div class="hot-product">
                <div class="hot-pic">
                    <a href="" target="_blank">
                        <img src="./Delizioso_files/Images/sale-4.jpeg" width="200px" height="256px">
                    </a>
                </div>
                <div class="sale-name">
                    <span class="sname">藍絲綢領帶</span>
                </div>
                <div class="sale-price">
                    <span class="sprice">NT$2,180</span>
                </div>
            </div>
        </div>
    </div>
</div>
