@model IEnumerable<BuildSchool.MVCSolution.OnlineStore.Models.Orders>
@{
    ViewBag.Title = "modeltest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>modeltest</h2>

<table class="table">
    <thead>
        <tr>
            <td>Customer ID</td>
            <td>Company Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var orders in Model)
        {
            <tr>
                <td>@orders.OrderID</td>
                <td>@orders.MemberID</td>
                <td>@orders.Pay</td>
                <td>@orders.Time</td>
            </tr>
        }
    </tbody>
</table>

