
@{
    ViewBag.Title = "AllProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<div class="row">
    <!-- left list -->
    <div class="col-3 mt-5">
        <div class="col offset-sm-1">
            <ul>
                <u>
                    <b>優惠活動</b>
                </u>
                <li>
                    <a href="">顯瘦穿搭</a>
                </li>
                <li>
                    <a href="">曲線針織</a>
                </li>
                <li>
                    <a href="">春日穿搭</a>
                </li>
                <li>
                    <a href="">百搭衣著</a>
                </li>
                <li>
                    <a href="">貼身內著</a>
                </li>
                <li>
                    <a href="">最終折扣</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">
                        <b>本週服飾</b>
                    </a>
                </li>
                <li>
                    <a href="">
                        <b>暢銷服飾</b>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">
                        <b>貼身內著</b>
                    </a>
                </li>
                <li>
                    <a href="">
                        <b>內著</b>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">
                        <b class="now">裙類</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-12">
                <p class="item-tree">HOME > 鞋款 > 跟鞋</p>
            </div>
        </div>
        <div class="row">
            <div class="col-11">
                <div class="row">


                    <div class="col-4">
                        <a href="#">
                            <img src="http://photo.airspace.com.tw/photo/1820035/1820035-23.jpg" height="384px" width="300px" alt="">
                        </a>
                        <div class="pdtext">
                            <p>
                                <span class="pdsize">35</span>
                                <span class="pdsize">36</span>
                                <span class="pdsize">37</span>
                                <span class="pdsize">38</span>
                                <span class="pdsize">39</span>
                                <span class="pdsize">40</span>
                            </p>
                            <p>
                                <a href="#">好棒棒產品名稱</a>
                            </p>
                            <p class="pdprice">NT$1480</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="">
                            <img src="http://photo.airspace.com.tw/photo/1820035/1820035-23.jpg" height="384px" width="300px" alt="">
                        </a>
                        <div class="pdtext">
                            <p>
                                <span class="pdsize">35</span>
                                <span class="pdsize">36</span>
                                <span class="pdsize">37</span>
                                <span class="pdsize">38</span>
                                <span class="pdsize">39</span>
                                <span class="pdsize">40</span>
                            </p>
                            <p>
                                <a href="#">好棒棒產品名稱</a>
                            </p>
                            <p class="pdprice">NT$1480</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href=""></a>
                        <img src="http://photo.airspace.com.tw/photo/1820035/1820035-23.jpg" height="384px" width="300px" alt="">
                        <div class="pdtext">
                            <p>
                                <span class="pdsize">35</span>
                                <span class="pdsize">36</span>
                                <span class="pdsize">37</span>
                                <span class="pdsize">38</span>
                                <span class="pdsize">39</span>
                                <span class="pdsize">40</span>
                            </p>
                            <p>
                                <a href="#">好棒棒產品名稱</a>
                            </p>
                            <p class="pdprice">NT$1480</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
